@model Libreria_de_conexion.Ficha

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Botones_y_textos.css" rel="stylesheet" />

    <title>Delete</title>
</head>
<body>
    
    <div>
        <h4>Ficha</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <a class="nombre">Jornada</a>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Jornada_Ficha)
            </dd>

            <dt>
                <a class="nombre">Fecha inicio</a>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_inicio)
            </dd>

            <dt>
                <a class="nombre">Fecha fin</a>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha_fin)
            </dd>

            <dt>
                <a class="nombre">Tipo de ficha</a>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo_Ficha)
            </dd>

            <dt>
                <a class="nombre">Identificacion admin</a>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Administrador.idAdministrador)
            </dd>

            <dt>
                <a class="nombre">Programa</a>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Programa_Formacion.Nombre_Programa)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn-Eliminar" />
                <input type="button" class="input-volver" value="Volver" onclick="location.href='@Url.Action("Index")'" />
            </div>
        }
    </div>
</body>
</html>
