@model IEnumerable<Libreria_de_conexion.Ficha>

@{
    ViewBag.Title = "Fichas";
}
<br />
<h2 class="welcome">Fichas</h2>
<br />
<style>
    .welcome {
        text-align: center;
        padding: 10px;
        background-color: #3DAF04;
        border-radius: 15px;
        color: white;
        font-family: 'Poppins',sans-serif;
    }
</style>
<link href="~/Content/Estilo_tablas.css" rel="stylesheet" />
<link href="~/CSS/Botonesprincipales_tablas.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Nueva Ficha", "Create", "",new { @class = "btn-nuevo" })
</p>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
               Jornada
            </th>
            <th>
               Fecha inicio
            </th>
            <th>
               Fecha fin
            </th>
            <th>
                Tipo de ficha
            </th>
            <th>
                Identificacion admin
            </th>
            <th>OPERACIONES</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jornada_Ficha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_Ficha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Administrador.idAdministrador)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Numero_Ficha }, new { @class = "btn-editar" }) 
                    @Html.ActionLink("Detalles", "Details", new { id = item.Numero_Ficha }, new { @class = "btn-detalles" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Numero_Ficha }, new { @class = "btn-eliminar" })
                </td>
            </tr>
        }

    </table>
</div>
