@model IEnumerable<Libreria_de_conexion.Ficha>

@{
    ViewBag.title = "Ficha"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Botonesprincipales_tablas.css" rel="stylesheet" />
    <link href="~/Content/Estilo_tablas.css" rel="stylesheet" />
</head>
<style>
    .welcome {
        text-align: center;
        padding: 10px;
        padding-top: 10px;
        background-color: #3DAF04;
        border-radius: 15px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>
    <br />
    <h2 class="welcome">Fichas</h2>
    <div class="action-bar">
        <p>
            @Html.ActionLink("Nueva Ficha", "Create", "", new { @class = "btn-nuevo" })
        </p>
        <form asp-controller="Fichas" asp-action="Index" method="get">
            <p>
                <input type="text" name="buscar" class="caja-texto" />
                <input type="submit" value="Buscar" class="btn-buscar" />

            </p>

        </form>
    </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>
                        Numero de ficha
                    </th>
                    <th>
                        Jornada
                    </th>
                    <th>
                        Fecha inicio
                    </th>
                    <th>
                        Fecha fin
                    </th>
                    <th>
                        Tipo de ficha
                    </th>
                    <th>
                        Identificacion admin
                    </th>

                    <th>
                        Programa
                    </th>
                    <th>Operaciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Numero_Ficha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Jornada_Ficha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_inicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_fin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo_Ficha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Administrador.idAdministrador)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Programa_Formacion.Nombre_Programa)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Numero_Ficha }, new { @class = "btn-editar" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.Numero_Ficha }, new { @class = "btn-detalles" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Numero_Ficha }, new { @class = "btn-eliminar" })
                        </td>
                    </tr>
                }

            </table>
        </div>
</body>
</html>
