@model Libreria_de_conexion.Instructor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Instructor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_Instructor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre_Instructor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Apellido_Instructor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Apellido_Instructor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email_Instructor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email_Instructor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contraseña_Instructor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contraseña_Instructor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Administrador.Nombre_Administrador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Administrador.Nombre_Administrador)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ficha.Jornada_Ficha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ficha.Jornada_Ficha)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idInstructor }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
