@model IEnumerable<Libreria_de_conexion.Instructor>

@{
    ViewBag.title = "Instructor"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Estilo_tablas.css" rel="stylesheet" />
    <link href="~/CSS/Botonesprincipales_tablas.css" rel="stylesheet" />

    <style>
        .welcome {
            text-align: center;
            padding: 10px;
            padding-top: 10px;
            background-color: #3DAF04;
            border-radius: 15px;
            color: white;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <br />
    <h2 class="welcome">Instructor</h2>
    <p>
        @Html.ActionLink("Nuevo Instructor", "Create", "", new { @class = "btn-nuevo" })
    </p>
    <form asp-controller="Instructors" asp-action="Index" method="get">
        <p>
            Buscar:<input type="text" name="buscar" class="form-text" />
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />

        </p>

    </form>
    <div class="table-responsive">

        <table class="table">
            <tr>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Correo electronico
                </th>
                <th>
                    Contraseña
                </th>
                <th>
                    Identificacion admin
                </th>
                <th>
                    Ficha
                </th>

                <th>OPERACIONES</th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Instructor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido_Instructor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email_Instructor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contraseña_Instructor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrador.idAdministrador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ficha.Numero_Ficha)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idInstructor }, new { @class = "btn-editar" }) 
                        @Html.ActionLink("Detalles", "Details", new { id = item.idInstructor }, new { @class = "btn-detalles" }) 
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idInstructor }, new { @class = "btn-eliminar" })
                    </td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
