@model Libreria_de_conexion.Competencia

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<link href="~/Content/Botones_y_textos.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Competencia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <a class="nombre">Nombre</a>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre_Competencia)
            </dd>
    
            <dt>
                <a class="nombre">Tipo</a>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo_Competencias)
            </dd>
    
            <dt>
                <a class="nombre">Duracion</a>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duracion_Competencia)
            </dd>
    
            <dt>
                <a class="nombre">Identificacion admin</a>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Administrador.idAdministrador)
            </dd>
    
            <dt>
                <a class="nombre">Id instructor</a>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Instructor.idInstructor)
            </dd>
    
            <dt>
                <a class="nombre">Id programa</a>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Programa_Formacion.idPrograma)
            </dd>
    
        </dl>
    </div>
    <div class="form-group button-container">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn-Editar" value="Editar" onclick="location.href='@Url.Action("Edit", new { id = Model.idCompetencia })'" />
            <input type="button" class="input-volver" value="Volver" onclick="location.href='@Url.Action("Index")'" />

        </div>
    </div>
</body>
</html>
