@model IEnumerable<Libreria_de_conexion.Competencia>

@{
    ViewBag.title = "Competencias"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Estilo_tablas.css" rel="stylesheet" />
    <link href="~/CSS/Botonesprincipales_tablas.css" rel="stylesheet" />

    <style>
        .welcome {
            text-align: center;
            padding: 10px;
            padding-top: 10px;
            background-color: #3DAF04;
            border-radius: 15px;
            color: white;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <br />
    <h2 class="welcome">Competencias</h2>
    <p>
        @Html.ActionLink("Nueva Competencia", "Create", "", new { @class = "btn-nuevo" })
    </p>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Competencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo_Competencias)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracion_Competencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Administrador.Nombre_Administrador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instructor.Nombre_Instructor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Programa_Formacion.Nombre_Programa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Competencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo_Competencias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracion_Competencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrador.Nombre_Administrador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instructor.Nombre_Instructor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Programa_Formacion.Nombre_Programa)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idCompetencia }, new { @class = "btn-editar" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idCompetencia }, new { @class = "btn-detalles" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idCompetencia }, new { @class = "btn-eliminar" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
