@model Libreria_de_conexion.Programa_Formacion

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Botones_y_textos.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Programa_Formacion</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                   <a class="nombre">Id programa</a>
            <div class="col-md-10">
                @Html.EditorFor(model => model.idPrograma, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idPrograma, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <a class="nombre">Nombre</a>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_Programa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_Programa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <a class="nombre">Duracion</a>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duracion_Programa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duracion_Programa, "", new { @class = "text-danger" })
            </div>
        </div>
    
            <div class="form-group">
                    <a class="nombre">Identificacion admin</a>
                <div class="col-md-10">
                    @Html.DropDownList("idAdministrador", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idAdministrador, "", new { @class = "text-danger" })
                </div>
            </div>
    
             <br />
            <div class="form-group button-container">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn-guardar" />
                    <input type="button" class="input-volver" value="Volver" onclick="location.href='@Url.Action("Index")'" />
            </div>
        </div>
        </div>
    }
    
  
</body>
</html>
