@model Libreria_de_conexion.Programa_Formacion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<link href="~/Content/Botones_y_textos.css" rel="stylesheet" />
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="nombre">Nombre</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Programa)
        </dd>

        <dt>
            <a class="nombre">Duracion</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracion_Programa)
        </dd>

        <dt>
            <a class="nombre">Identificacion admin</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrador.idAdministrador)
        </dd>

        <dt>
            <a class="nombre">Numero de ficha</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha.Numero_Ficha)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn-Eliminar" />
            <input type="button" class="input-volver" value="Volver" onclick="location.href='@Url.Action("Index")'" />
        </div>
    }
</div>
