@model Libreria_de_conexion.Programa_Formacion

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Programa_Formacion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre_Programa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre_Programa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Duracion_Programa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Duracion_Programa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Administrador.Nombre_Administrador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Administrador.Nombre_Administrador)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idPrograma }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
