@model IEnumerable<Libreria_de_conexion.Programa_Formacion>

@{
    ViewBag.title = "Programa"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Botonesprincipales_tablas.css" rel="stylesheet" />
    <link href="~/Content/Estilo_tablas.css" rel="stylesheet" />
</head>

<style>
    .welcome {
        text-align: center;
        padding: 10px;
        padding-top: 10px;
        background-color: #3DAF04;
        border-radius: 15px;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>
    <br />
    <h2 class="welcome">Programas de Formacion</h2>
    <p>
        @Html.ActionLink("Nuevo Programa", "Create", "", new { @class = "btn-nuevo" })
    </p>
    <div class="table-responsive">


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Programa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duracion_Programa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Administrador.Nombre_Administrador)
                </th>
                <th>Operaciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Programa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracion_Programa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrador.Nombre_Administrador)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idPrograma }, new { @class = "btn-editar" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idPrograma }, new { @class = "btn-detalles" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idPrograma }, new { @class = "btn-eliminar" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
