@model Libreria_de_conexion.Aprendiz

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<link href="~/Content/Botones_y_textos.css" rel="stylesheet" />

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <a class="nombre">Nombres</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres_Aprenidiz)
        </dd>

        <dt>
            <a class="nombre">Apellidos</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos_Aprendiz)
        </dd>

        <dt>
            <a class="nombre">Email</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Aprenidiz)
        </dd>

        <dt>
            <a class="nombre">Tipo de documento</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Documento)
        </dd>

        <dt>
            <a class="nombre">Numero de documento</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_Documento)
        </dd>

        <dt>
            <a class="nombre">Contraseña</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            <a class="nombre">Estado</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            <a class="nombre">Identificacion admin</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrador.idAdministrador)
        </dd>


        <dt>
           <a class="nombre"> Ficha</a>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ficha.Numero_Ficha)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn-Eliminar" />
            <input type="button" class="input-volver" value="Volver" onclick="location.href='@Url.Action("Index")'" />
        </div>
    }
</div>
