@model IEnumerable<Libreria_de_conexion.Aprendiz>

@{
    ViewBag.title = "Aprendiz"; 
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/CSS/Botonesprincipales_tablas.css" rel="stylesheet" />
    <link href="~/Content/Estilo_tablas.css" rel="stylesheet" />

    <style>
        .welcome{
            text-align :center; 
            padding: 10px; 
            padding-top: 10px; 
            background-color: #3DAF04; 
            border-radius: 15px; 
            color: white; 
            font-family: 'Poppins', sans-serif; 
        }
    </style>
</head>
<body>
    <br />
    <h2  class="welcome"> Aprendiz</h2>
    <p>
        @Html.ActionLink("Nuevo Aprendiz", "Create", "", new { @class = "btn-nuevo" })
    </p>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    Nomnbre(s)
                </th>
                <th>
                   Apellidos
                </th>
                <th>
                    Email
                </th>
                <th>
                   Tipo de Documento
                </th>
                <th>
                    Numero de Documento
                </th>
                <th>
                    Contraseña
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Identificacion Admin 
                </th>
                <th>
                   Ficha 
                </th>
                <th>Operaciones</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres_Aprenidiz)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos_Aprendiz)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email_Aprenidiz)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo_Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero_Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contraseña)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Administrador.Nombre_Administrador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ficha.Numero_Ficha)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idAprendiz }, new { @class = "btn-editar" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idAprendiz }, new { @class = "btn-detalles" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idAprendiz }, new { @class = "btn-eliminar" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
